/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* common styles */

* {
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

#g-letter {
    color: #FF42A5;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

.social-media {
    display: flex;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 12px 20px;
}

.youtube {
    margin-right: 20px;
}

/* banner section styles */

main {
    /* max-width: 1440px; */
    margin: 0 auto;
    width: 1600px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    margin: auto;
}

.banner-images {
    max-width: 800px;
}

h2 {
    color: #0B0223;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
    justify-content: left;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(#F948B2, #8758F1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h4 {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
    justify-content: left;
}

.sign-in {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.rogue {
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
}

/* video section styles */

.videos-container {
    padding: 0px 100px;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;    
}

#funny-videos {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 100px 0px 0px 0px;
}

h5 {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

#funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* play section styles */

.play-container {
    display: flex;    
    padding: 160px;
    align-items: center;
    justify-content: space-between;    
}

.instantly {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

#play-instantly {
    color: #FF42A5;
}

p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}

.play-images {
    position: relative;    
}

.image-1 {
    position: relative;       
}

.image-2 {
    position: absolute;
    bottom: -75px;
    left: -150px;    
}

/* footer section styles */

footer {
    background-color: #0B0223;
}

.last-section {
    justify-content: center;
    margin: auto;
    width: 100%;
}

.logo-1 a {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    gap: 20px;
    justify-content: center;
}

.social-media {
    gap: 20px;
    justify-content: center;
}

.links-2 {
    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.60);
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}



/* media query */

/* mobile devices */

@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        padding: 30px;
    }

    nav>ul {
        flex-direction: column;
        gap: 40px;
    }

    footer {
        padding: 50px;
    }

    .links {
        flex-wrap: wrap
    }

    .social-media {
        width: 70%;
        flex-wrap: wrap;
        margin: auto;
    }

    .links-2 {
        flex-wrap: wrap;
        margin: auto;
    }
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {

    nav {
        flex-direction: column;
        padding: 30px;
    }

    .last-section {}